/.idea
/_bak
/_etc
/cmake-build-debug

/SDL2-2.24.0/*
!/SDL2-2.24.0/.gitplaceholder

/SDL2-devel-2.24.0-mingw/*
!/SDL2-devel-2.24.0-mingw/.gitplaceholder

/CMakeLists.txt
/envconfig.h
/README-SDL.txt

/src/main
/src/out.txt
/src/v1/main.*.c

.fuse_hidden*
*.d
*.dll
*.exe
*.o
